/* CSS Document 

Author: James Tate 2013

*/


*{
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
}
h1{
	padding: 2px;
	font: 40px Tahoma, Geneva, sans-serif;
	color: #141414;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
h1 a{
	padding: 2px;
	font: 40px Tahoma, Geneva, sans-serif;
	color: #141414;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
h2{
	margin: 10px;
	font: 24px Century Gothic;
	color: #333333;
}
h2 a:hover{
	color: blue;
}
h3{
	font: 24px bold Palatino Linotype;
}
h3 a:hover{
	
}
h4{
	font: 23px Palatino Linotype;
	color: #870505;
	text-indent: 10px;
}
h5{
	font: 19px Palatino Linotype;
	color: #870505;
}
p{
	margin-top: 10px;
	text-indent: 25px;
	text-align: left;
	font: 16px Tahoma, Geneva, sans-serif;
}
img{  
	border-style: none;
}
header, section, footer, aside, nav, article, hgroup{
	display: block;
}
body{
	background: #F2F2F3;
	text-align: center;
	font-size: 13px;
	font-family: Arial;
}
#top_header{
	height: 50px;
	background: #FFFFFF;
	box-shadow: -4px 3px 13px 1px #888888;
}
#inside_body{
	clear:both;
	width: 1000px;
	background: #ffffff;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	border: 1px solid grey;
	border-top: 3px solid black;
	border-radius: 5px;
	box-shadow: -4px 3px 13px 1px #888888;
}
#logo{
	margin-right: 1000px;
	padding-top: 5px;
}
#top_nav{
	margin-left:auto;
	margin-right:auto;
	margin-top: 15px;
	width: 900px;
	height: 60px;
	background: #F3F1F2;
	font-family: Tahoma, Geneva, sans-serif;
	padding: 10px 10px 10px 10px; /* top right bottom left */
	text-align: center;
}
#top_nav li{
	box-shadow: -4px 3px 13px 1px #888888;
	line-height: 50px;
	text-align: center;
	font-size: 16px;
	color: white;
	margin-left: 10px;
	margin-top: 10px;
	width: 150px;
	background: #141414;
	height: 50px;
	display: inline-block;
	list-style: none;
	border-radius: 15px;
}
#top_nav li:hover{
	background: #7D9449;
	color:  #141414;
}
#top_nav a{
	color: #7D9449;
}
#top_nav a:hover{
	color: #BFE270;
}
#main{
	padding: 5px 50px 50px 50px; /* top right bottom left */
}
#deliverables{
	padding: 25px 50px 50px 50px; /* top right bottom left */
	height: 550px;
	text-align: left;
	display: block;
}
#deliverables li{
	list-style-type: none;
	text-indent: 25px;
	padding: 15px 0px 5px 0px; /* top right bottom left */
	font-size: 18px;
}
#deliverables ul{
	float:left;
}
#left{
	width: 290px;
	padding: 0px 50px 0px 0px; /* top right bottom left */
}
#left li{
	padding-bottom: 13px;
}
#center{
	width: 50px;
	padding: 0px 50px 0px 0px; /* top right bottom left */
}
#right{
	width: 50px;
	padding: 0px 50px 0px 0px; /* top right bottom left */
}
#team li{
	display: inline-block;
	margin-left:auto;
	margin-right:auto;
	padding: 10px 10px 10px 10px; /* top right bottom left */
	background: #F3F1F2;
	list-style: none;
}
#teaminfo{
	height: 100px;
	text-indent: 0px;
	padding: 25px 25px 25px 25px;
	margin-bottom: 15px;
	text-align: left;
}
#drjones{
	float: left; 
	width: 220px; 
	margin-right: 50px;
}
#drjonespic{
	width: 200px;
	height: 305px;
	margin-top: 15px;
	padding: 10px 10px 10px 10px; /* top right bottom left */
	background: #F3F1F2;
	margin-right: 50px;
}
#drjonesinfo{
	text-indent: 0px;
	margin: 75px 10px 20px 10px; /* top right bottom left */
	padding: 10px 10px 10px 10px; /* top right bottom left */
}